/* Add this to your global CSS file */
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;      /* Firefox */
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.hide-scroll-bar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}
